$color-black: #6c6c6c;
$color-grey: #e0e5eb;
$color-green: #31e2c6;
$color-blue: #2c2dc7;
$color-purple: #9953f8;
$color-red: #ee2f2b;

$color-github: #1f1e1e;
$color-linkelin: #0e76a8;
$color-google: #db4a39;

$z_index_logo: 20;
$z_index_navigation: 20;
$z_index_overlay_modal: 25;
$z_index_modal: 30;
